// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$color1: rgba(74, 64, 99, 1);
$color2: rgba(191, 172, 200, 1);
$color3: rgba(200, 198, 215, 1);
$color4: rgba(120, 63, 142, 1);
$color5: rgba(79, 18, 113, 1);

$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;

$website-background: rgba(243,243,243,1.00);

$primary: $color1; // Thats a sample how you could change a BootStrap variable.
$secondary: $color2;

$default-border-radius: 4px;
$default-box-shadow: 0 3px 3px rgba(0, 0, 0, .2);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1140px,
        xxl: 1440px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1380px
) !default;